*{
    font-family:"times new roman";
    h1{
    text-align:center;
    text-transform:capitalize;
    text-decoration:underline;
}
#outer{
    font-size:25px;
}
#inner{
    font-size:10px;
}
#btn{
    background-color:rgb(6, 6, 84);
    color:white;

}
}