h1{
    color:red;
}
button{
    color:yellow;
    background-color:black;
}
body{
    background-color:rgba(12, 2, 52, 0.308);
}
#h1{
    text-align:right;
}
#style{
    font-weight:455;
    text-decoration:underline;
}
